dev:
  AUTH_TOKEN: "abc-dev"
  NOTION_TOKEN: MY_NOTION_TOKEN
  NOTION_DATABASE_ID: NOTION_DATABASE_ID
prod:
  AUTH_TOKEN: "abc-prod"
  NOTION_TOKEN: MY_NOTION_TOKEN
  NOTION_DATABASE_ID: NOTION_DATABASE_ID
